body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  height: 80px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

li {
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  display: flex;
  gap: 50px;
  flex-shrink: 0;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  color: #3882f6;
}

.main {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3em 4em;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3em 6em;
}

.main-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 80px;
  flex: 1;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;
  margin-bottom: 0;
  margin-left: 80px;
}

.button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 3px;
  margin-left: 80px;
}

.image {
  margin-right: 4em;
  flex-shrink: 3;
}

.more-info :first-child {
  width: 180px;
  height: 180px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  flex-shrink: 2;
}

.title {
  font-size: 36px;
  text-align: center;
  color: #1f2937;
  font-weight: 900;
  padding: 30px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin-bottom: 80px;
  padding: 2em;
}

.more-info {
  max-width: 200px;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 30px 60px;
  min-width: 450px;
}

.end {
  color: #1f2937;
  flex: 1;
  font-size: 36px;
  margin: auto;
  font-style: italic;
}

.artist {
  align-self: flex-end;
  padding-right: 200px;
  font-size: 20px;
}

.last-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 5em;
  background-color: #3882f6;
  padding: 20px 40px;
  border-radius: 1em;
  min-width: 350px;
}

.action {
  color: #e5e7eb;
  flex: 1;
}

.last-action {
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
}

.sign-up {
  margin-left: 30px;
  margin-top: 3px;
  font-size: 18px;
}

.last-button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  font-size: 18px;
  padding: 0.2em 1em;
  border-radius: 0.2em;
  margin-right: 2em;
  font-weight: 300;
  flex-shrink: 0;
}

footer {
  text-align: center;
  font-size: 18px;
  padding: 3em;
  background-color: #1f2937;
  color: #e5e7eb;
}
